<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ALL SHOWS</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Network</td>
            <td>Release Date</td>
            <td>Actions</td>
        </tr>
        {%for show in allshows%}
        <tr>
            <td>{{show.id}}</td>
            <td>{{show.title}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date}}</td>
            <td><a href="/shows/{{show.id}}">Show</a> | <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/delete">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
    <hr>
    <h3><a href="/shows/new">Add a New Show</a></h3>
</body>
</html>