<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit Show {{show.id}}</h1>
    <form action="handle_form" method="post">
        {%csrf_token%}
        <p>Title</p>
        <input type="text" name="title">
        <p>Network</p>
        <input type="text" name="network">
        <p>Release Date</p>
        <input type="date" name="release_date">
        <p>Description</p>
        <textarea name="description" cols="30" rows="10"></textarea>
        {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        <input type="submit" value="Update">
    </form>

    <a href="/shows/{{show.id}}">Go to Show</a>
</body>

</html>